body {
  background-color: black;
  width: 800px;
  font-family: Tahoma, sans-serif;
  margin: auto;
  color: aliceblue;
  line-height: 1.5em;
  letter-spacing:1px;
}
a {
  color: bisque;
  text-decoration: wavy;
}
a:hover {
  color: burlywood;
  background-color: grey;
  border-radius: 3px;
}
